.train-reservation-container {
  max-width: 400px; /* Adjust the max-width as needed */
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

h1{
  color: rgba(55, 21, 10, 0.896);
  text-align: center;
}

.reservation-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px; 
}

label {
  font-weight: bold;
  margin-bottom: 5px;
}

input,
select {
  width: calc(100% - 20px); /* Adjust width and subtract padding */
  padding: 10px; 
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
  margin-top: 8px;
}

.error-message {
  color: red;
  margin-top: 5px;
}

.success-message {
  background-color: #4caf50;
  color: #fff;
  padding: 15px; 
  border-radius: 5px;
  margin-top: 20px;
  text-align: left;
}

button {
  background-color: #3498db;
  color: #fff;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px 150px;
}

button:hover {
  background-color: #2980b9;
}
